
/* menuPrincipal.css */
#menu_principal {
padding: 0;
margin:0;
position: absolute;
top: 80px;
left: -6px;
z-index: 10;
}
table#menu {
margin-top: 3px;
border: 0px;
padding: 0px;
background: #EED8AE;
background: transparent;
}
#menu td {
text-align: center;
font-size: 90%;
background: #EED8AE;
background: transparent;
color: <?=$this->color("3")?>;
padding: 1px;
background: no-repeat url('<?=Router::$dir.$gcm->event->instancias["temas"]->ruta("menu","img","boton_desactivado.gif")?>');
width: 70px;
height: 70px;
vertical-align: middle;
}
#menu td a {
margin: 0px;
padding: 0px;
color:#E0AD14;
text-decoration: none;
border: 1px solid transparent;
margin: 1px;
}
#menu td a:hover {
background: #4B87AD;
color: <?=$this->color("0")?>;
border: 1px solid <?=$this->color("3")?>;
}
#menu td a:active {
background: #EED8AE;
color: <?=$this->color("3")?>;
}
/* Estamos aqui del menu principal */
#menu td#menuOff {
background: no-repeat url('<?=Router::$dir.$gcm->event->instancias["temas"]->ruta("menu","img","boton_activado.gif")?>');
}
#menu td#menuOff a {
color: <?=$this->color("3")?>;
}
