/*  ## Avisos

    <div class="aviso">Aviso</div>
    <div class="error">Error</div>
    <div class="admin">Admin</div>
    <div class="normal">Normal</div>
    <div class="ayuda">Ayuda</div>
*/
.aviso ul, .error ul, .admin ul, .normal ul , .debug ul  {
   padding: 0;
   margin: 0;
   }
.aviso li, .error li, .admin li, .normal li , .debug li  {
list-style: none;
border: 2px;
padding: 8px;
margin-top: 2px;
margin-left: 2px;
   padding: 0;
   margin: 0;
}
.error a {
color: #7B040F;
}
.aviso a {
color: #082B33;
}
.admin a {
color: #796616;
}
.normal a , .debug a {
color: #32510F;
}

/* h4.alert_info */
div.aviso, div.admin, div.error, div.normal, div.ayuda {
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
font-size: 14px;
margin: 20px;
padding: 10px 12px 10px 40px;
}

div.aviso {
background: #B5E5EF url(<?=Router::$base_absoluta.Router::$dir.$this->icono('aviso')?>) no-repeat 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
}

div.admin {
background: #F5F3BA url(<?=Router::$base_absoluta.Router::$dir.$this->icono('aviso')?>) no-repeat 10px 10px;
border: 1px solid #C7A20D;
color: #796616;
}

div.error pre {
   background: transparent;
   color: #7B040F;
   border: 0;
   margin: 20px 3% 0 3%;
   padding: 5px;
}

div.error {
background: #F3D9D9 url(<?=Router::$base_absoluta.Router::$dir.$this->icono('error')?>) no-repeat 10px 10px;
border: 1px solid #D20009;
color: #7B040F;
}

div.normal {
background: #E2F6C5 url(<?=Router::$base_absoluta.Router::$dir.$this->icono('alerta')?>) no-repeat 10px 10px;
border: 1px solid #79C20D;
color: #32510F;
}
div.ayuda {
background: #B5E5EF url(<?=Router::$base_absoluta.Router::$dir.$this->icono('ayuda')?>) no-repeat 10px 10px;
border: 1px solid #77BACE;
color: #082B33;
}

.atencion {
    background: none repeat scroll 0 0 red;
    border-radius: 50%;
    color: white;
    font-size: 60%;
    font-weight: bold;
    padding: 3px 5px 6px 4px;
}
