/* ## Estilos generales 

    <div id="wrap">
       <div id="cabecera">Cabecera</div>
       <div id="subcabecera">SubCabecera</div>
       <div id="contenedor">
          <div id="titulo">titulo</div>
          <div id="contenido">contenido</div>
       </div>
       <div id="lateral">lateral</div>
       <div id="pie">pie</div>
    </div>
*/
body {
background-color: <?=$this->color("body-00")?>;
color: <?=$this->color("body-01")?>;
font-family: Palatino, 'Book Antiqua', serif;
line-height: 20px;
padding: 0;
margin: 6px;
/* Gradiante */
background: <?=$this->color("body-02")?>;
background: -moz-linear-gradient(-45deg, <?=$this->color("body-02")?> 0%, <?=$this->color("body-03")?> 2%, <?=$this->color("body-04")?> 45%, <?=$this->color("body-05")?> 100%);
background: -webkit-gradient(left top, right bottom, color-stop(0%, <?=$this->color("body-02")?>), color-stop(2%, <?=$this->color("body-03")?>), color-stop(45%, <?=$this->color("body-04")?>), color-stop(100%, <?=$this->color("body-05")?>));
background: -webkit-linear-gradient(-45deg, <?=$this->color("body-02")?> 0%, <?=$this->color("body-03")?> 2%, <?=$this->color("body-04")?> 45%, <?=$this->color("body-05")?> 100%);
background: -o-linear-gradient(-45deg, <?=$this->color("body-02")?> 0%, <?=$this->color("body-03")?> 2%, <?=$this->color("body-04")?> 45%, <?=$this->color("body-05")?> 100%);
background: -ms-linear-gradient(-45deg, <?=$this->color("body-02")?> 0%, <?=$this->color("body-03")?> 2%, <?=$this->color("body-04")?> 45%, <?=$this->color("body-05")?> 100%);
background: linear-gradient(135deg, <?=$this->color("body-02")?> 0%, <?=$this->color("body-03")?> 2%, <?=$this->color("body-04")?> 45%, <?=$this->color("body-05")?> 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fefefe', endColorstr='#818285', GradientType=1 );
}

/*
  ## Las listas por defecto sin estilo
     <ul>
      <li>uno</li>
      <li>dos</li>
      <li>tres</li>
      <li>...</li>
     </ul>
 */

ul { list-style: none outside none; }

/* 
  ## Sustituye a la etiqueta "center" en desuso en html5 
    <div class="centrado">Centrado de contenido</div>
 */

.centrado {
   text-align: center;
 }

#wrap{
width: 100%;
margin:0 auto;
}

#contenido h1 {
    margin: 18px 2px;
}
/* Contenedor */
#contenedor {
width: 70%;
float:left;
padding: 20px 10px 10px 10px;
min-height: 400px;
height: auto !important;
}
/* Columna lateral */
#lateral {
width: 27%;
color: #6F6137;
float:right;
padding-top: 30px;
}
#lateral p{
padding: 0 25px 25px 25px;
}
#scripts {
float: left;
width: 100%;
}
#lateral p, #lateral2 p{
margin:0;
padding: 0 15px 15px 15px;
}
a{
text-decoration: none;
color: <?=$this->color("body-07")?>;
font-style: italic;
}
a:hover{
color: #6F6137;
}
/*
##  Formularios en general
    <form>
       <fieldset>
          <legend>Legend</legend>
          <textarea></textarea>
             <fieldset>
             <legend>SubLegend</legend>
             <boton></boton>
             </fieldset>
       </fieldset>
    </form>
*/
textarea {
border-bottom:1px solid <?=$this->color("body-12")?>;
border-left:1px solid <?=$this->color("body-13")?>;
border-right:1px solid <?=$this->color("body-13")?>;
border-top:1px solid <?=$this->color("body-14")?>;
}
fieldset {
    padding: 10px;
    border: 1px solid rgb(204, 204, 204);
    border-radius: 5px 5px 5px 5px;
}
fieldset fieldset {
    margin: 8px 0 8px 8px;
    padding: 2px;
}

/* Bloques de código

   <pre>
   function foo() {
      echo $bar;
      }
   </pre>
*/

pre {
border: 1px solid <?=$this->color("body-06")?>;
border-left: 3px solid <?=$this->color("body-06")?>;
background-color: <?=$this->color("body-11")?>;
color: <?=$this->color("body-06")?>; 
margin: 18px 2px;
padding: 3px;
overflow: auto;
max-height: 450px;
margin-bottom: 10px;
}

.botones_acciones {
margin-top: 20px;
}

