/*  ## Formularios 

    <fieldset>
       <legend>Registros</legend>
       <div class="ayuda">
          Podemos filtrar por id, sesion, fecha, tipo ('ERROR','AVISO','ADMIN','DEBUG'), fichero, mensaje
          <br>
          Ejemplos:
          <ul>
             <li>sesion&gt;100 AND tipo='ERROR' ORDER BY id desc</li>
             <li>mensaje LIKE "%ERROR%"</li>
          </ul> 
       </div>
       <form onsubmit="javascript: visualizar_registros(this,&quot;66130&quot;); return false;" method="post" action="" name="form_ver_registros">
          <fieldset>
             <legend>Filtro</legend>
             <input type="text" value="sesion=66130" name="filtro" style="width:98%;">
          </fieldset>
          <br>
          <br>
          <input type="submit">
       </form>
       <div id="caja_registro_66130">
       </div>
    </fieldset>
*/
#contenido fieldset {
    border-radius: 6px 6px 6px 6px;
    padding: 10px;
}

#contenido legend {
    font-variant: small-caps;
    font-weight: bold;
}

fieldset input[type="text"] {
    background-position: 10px 6px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 2px 2px rgb(204, 204, 204) inset, 0 1px 0 rgb(255, 255, 255);
    color: rgb(102, 102, 102);
    display: block;
    float: left;
    height: 20px;
    margin: 0 10px;
}
