/* Comportamiento para diferentes resoluciones
 *
 * ipad 740px x 
 */
@media screen and (max-width: 1160px){
   #contenedor{
   width: 65%;
   }
   #lateral {
   width: 33%;
   }
}
@media screen and (max-width: 1015px){
   #lateral, #contenedor {
   float: none;
   margin: 0 auto;
   width: 96%;
   }
   #lateral { 
      margin-left: 10px;
   }
   .panel_titulo a {
   -moz-border-radius:10px;
   -webkit-border-radius:10px;
   border-radius:10px;
   -moz-box-shadow:0 1px 0 <?=$this->color("body-08")?>;
   -webkit-box-shadow:0 1px 0 <?=$this->color("body-08")?>;
   box-shadow:0 1px 0 <?=$this->color("body-08")?>;
   background: -moz-linear-gradient(19% 75% 90deg, #E0E0E0, #FAFAFA);
   background: -webkit-gradient(linear, left top, left bottom, from(#FAFAFA), to(#E0E0E0));
   color:#4A4A4A;
   text-shadow:1px 1px 0 <?=$this->color("body-16")?>;
   padding: 5px;
   display: block;
   }
   /* Tablas adaptables */
   table, thead, tr, th, tbody, td{
      display:block;
   }
   tr { border-bottom: 4px solid <?=$this->color("body-17")?>; }
   td { 
      border: none;
      border-bottom: 1px solid <?=$this->color("body-18")?>; 
      position: relative;
   }
}
@media screen and (max-width: 800px){
   body {
      font-size: 130%;
      }
   }

@media screen and (max-width: 500px){
   body {
      font-size: 180%;
      }
   }

