
/* menuPrincipal.css */
#menu_principal {
background: <?=$this->color("15")?>;
}
table#menu {
margin-top: 3px;
border: 0px;
padding: 0px;
background: #EED8AE ;
background: transparent ;
}
#menu td {
text-align: center;
background: #EED8AE ;
background: transparent ;
color: <?=$this->color("4")?>;
padding: 3px;
margin: 0;
}
#menu td a {
margin: 15px 15px;
padding: 3px 15px 3px 15px;
color:<?=$this->color("4")?>;
text-decoration: none;
background: #EED8AE;
background: transparent ;
border: 1px solid transparent;
}
#menu td a:hover {
background: #4B87AD ;
color: <?=$this->color("2")?>;
border: 1px solid <?=$this->color("4")?>;
}
#menu td a:active {
background: #EED8AE;
color: <?=$this->color("4")?>;
}
/* Estamos aqui del menu principal */
#menu td#menuOff a {
background: <?=$this->color("5")?>;
color: <?=$this->color("4")?>;
border: 1px solid <?=$this->color("4")?>;	
}