
/* menuPrincipal.css */
#menu_principal {
background: <?=$this->color("menu-fondo","transparent")?>;
}
table#menu {
margin-top: 3px;
border: 0px;
padding: 0px;
}
#menu td {
text-align: center;
color: <?=$this->color("menu-td","#000")?>;
padding: 3px;
margin: 0;
}
#menu td a {
margin: 15px 15px;
padding: 3px 15px 3px 15px;
color:<?=$this->color("menu-td_enlace","#000")?>;
text-decoration: none;
border: 1px solid transparent;
}
#menu td a:hover {
background: #4B87AD ;
color: <?=$this->color("menu-td_enlace_hover","#000")?>;
border: 1px solid <?=$this->color("menu-td_enlace_hover_borde","#000")?>;
}
#menu td a:active {
background: #EED8AE;
color: <?=$this->color("menu-td_enlace_activo","#000")?>;
}
/* Estamos aqui del menu principal */
#menu td#menuOff a {
background: <?=$this->color("menu-td_enlace_off_fondo","transparent")?>;
color: <?=$this->color("menu-td_enlace_off_texto","#000")?>;
border: 1px solid <?=$this->color("menu-td_enlace_off_borde", "#000")?>;	
}
