#pie {
   float: left;
   width: 90%;
   margin: 10px 5%;
   margin-bottom:10px;
   color: <?=$this->color("body-06")?>;
   background: <?=$this->color("body-07")?>;
   border: 1px solid <?=$this->color("pie-00")?>;
   }
#pie img:first-child	{ 
   float: left;
   width: 40px:
   height: 40px;
   margin: 0px;
   margin-right: 5px;
   border: 0;
   }
#pie a {
   color: <?=$this->color("body-06")?>;
   }
#pie_derecho {
    text-align: center;
    margin-top: 9px;
}
#pie_derecho img {
    border-width: 0;
    float: right!IMPORTANT;
    margin-top: -4px !important;
}
