#pie {
    background: none repeat scroll 0 0 rgb(0, 0, 0);
    border: 0 none;
    color: rgb(255, 222, 244);
    float: left;
    margin: 0;
    width: 100%;
   }
#pie img:first-child	{ 
   float: left;
   width: 40px:
   height: 40px;
   margin: 0px;
   margin-right: 5px;
   border: 0;
   }
#pie a {
   color: rgb(213, 206, 224);
   }
#pie_derecho {
    text-align: center;
    margin-top: 9px;
}
#pie_derecho img {
    border-width: 0;
    float: right!IMPORTANT;
    margin-top: -4px !important;
}
