/*  ## Barra de navegación

    <div id="barraNavegacion">
       <ul>
          <li><a href="./Articulos/" class=""><img alt="+" src="../dev/gcm/gcm/modulos/temas/iconos/+.png"> </a><a href="./Articulos/">Articulos</a></li>
          <li><a href="./Humor_linuxero_(Mafalda).html">Humor linuxero (Mafalda)</a></li>
          <li><a href="./Proyectos/" class=""><img alt="+" src="../dev/gcm/gcm/modulos/temas/iconos/+.png"> </a><a href="./Proyectos/">Proyectos</a></li>
          <li><a href="./Acerca_de.html">Acerca de</a></li>
          <li><a href="./apuntes/" class=""><img alt="+" src="../dev/gcm/gcm/modulos/temas/iconos/+.png"> </a><a href="./apuntes/">Apuntes</a></li>
          <li><a href="./Presentar_fecha_unix_en_formato_humano.html">Presentar fecha unix en formato humano</a></li>
       </ul>
    </div>
*/
#barraNavegacion	{
width: 100%;
padding: 5px 5px 5px 0px;
margin: 3px 2px 3px 5px;
text-align: left;
}
#barraNavegacion .m_off, #barraNavegacion .m_on {
   font-size: 110%;
}
#barraNavegacion .m_actual {
    font-style: italic;
    font-weight: bold;
    padding: 4px 4px 0 0;
}
#barraNavegacion a {
border: 1px;
color: <?=$this->color("body-11")?>;
}
#barraNavegacion ul img {
   border: 0;
   width: 16px;
   height: 16px;
   }
#barraNavegacion ul {
list-style-position: outside;
padding: 3px 0px 0px 2px;
margin: 0;
list-style:none;
border-left: 1px ;
/* border-left-style: dotted; */
text-align: left;
/* /dashed/solid/double/groove/ridge/inset/outset; */
/*list-style-image:none; IE would also need this*/
}
#barraNavegacion .listaOff {
text-decoration: none;
font-weight: bold;
}
#barraNavegacion ul ul {
   margin: 0 0 0 2px;
}
#barraNavegacion ul ul li {
   margin: 0 0 0 2px;
}
#barraNavegacion ul ul ul li {
   font-size: 90%;
   margin: 0 0 0 12px;
}
#barraNavegacion li a {
font-weight: normal;
text-decoration: none;
}
#barraNavegacion li a:hover {
font-weight: normal;
text-decoration: none;
}
#barraNavegacion li a:active {
font-weight: normal;
color: #D97B40;
text-decoration: none;
}
