
/* menuPrincipal.css */
#menu_principal {
background: <?=$this->color("menuPrincipal-00")?>;
}
table#menu {
margin-top: 3px;
border: 0px;
padding: 0px;
background: <?=$this->color("menuPrincipal-01")?> ;
width: 100%;
}
#menu td:hover {
  background: <?=$this->color("menuPrincipal-02")?>;
  color: <?=$this->color("menuPrincipal-03")?>;
  padding: 0 10px 0 10px;
}
#menu td {
text-align: center;
background: <?=$this->color("menuPrincipal-04")?> ;
background: <?=$this->color("menuPrincipal-05")?> ;
color: <?=$this->color("menuPrincipal-06")?>;
padding: 0;
margin: 0;
border-right: 1px solid <?=$this->color("menuPrincipal-07")?>;
}
#menu td a {
margin: 5px 5px;
padding: 3px 5px 3px 5px;
color:<?=$this->color("menuPrincipal-08")?>;
text-decoration: none;
  display: inline-block;
}
#menu td a:hover {
  /* font-size: 140%; */
}
#menu td a:active {
  color: <?=$this->color("menuPrincipal-09")?>;
}
/* Estamos aqui del menu principal */
#menu td#menuOff {
      background: none repeat scroll 0 0 <?=$this->color("menuPrincipal-10")?>;
 
    color: <?=$this->color("menuPrincipal-11")?>;
}
