/**
 ## Botón de menú adaptable para conmutar visualización

    <a id="menu_switch" href="#">≡</a>

 */

#menu_switch { 
   display: none;
   float: right;
   font-size: 250%;
   position: relative;
   right: 17px;
   top: -55px;
   }

/*
 ## Menú principal adaptable 

    <nav id="subcabecera">
          <a href="#" id="menu_switch">≡</a>
          <div id="menu_principal" style="display: none;">
    <table cellspacing="0" id="menu">
       <tbody><tr>
          <td id="Alojamiento">
             <a href="./Alojamiento">
                Alojamiento         </a>
          </td>
          <td id="Tarifas">
             <a href="./Tarifas">
                Tarifas         </a>
          </td>
          <td id="Gastronomia">
             <a href="./Gastronomia">
                Gastronomía         </a>
          </td>
          <td id="Eventos">
             <a href="./Eventos">
                Eventos         </a>
          </td>
          <td id="Ofertas">
             <a href="./Ofertas">
                Ofertas         </a>
          </td>
          <td id="Actividades">
             <a href="./Actividades">
                Actividades         </a>
          </td>
          <td id="Libro_de_visitas">
             <a href="./Libro_de_visitas">
                Libro de visitas         </a>
          </td>
          <td id="Contacto">
             <a href="./Contacto">
                Contacto         </a>
          </td>
       </tr>
    </tbody>
    </table> 
    </div> <!-- Acaba menu_principal -->
    <script>
    addLoadEvent(function(){
       $("#menu_switch").click(function() {
          $("#menu_principal").toggle();
          return false;
          }); 
       }); 
    </script>
    </nav>
 */

#menu_principal {
background: <?=$this->color("menuPrincipal-00")?>;
display: block;
}
table#menu {
margin-top: 3px;
border: 0px;
padding: 0px;
background: <?=$this->color("menuPrincipal-01")?> ;
width: 100%;
}
#menu td:hover {
  background: <?=$this->color("menuPrincipal-02")?>;
  color: <?=$this->color("menuPrincipal-03")?>;
  padding: 0 10px 0 10px;
}
#menu td {
text-align: center;
background: <?=$this->color("menuPrincipal-04")?> ;
background: <?=$this->color("menuPrincipal-05")?> ;
color: <?=$this->color("menuPrincipal-06")?>;
padding: 0;
margin: 0;
border-right: 1px solid <?=$this->color("menuPrincipal-07")?>;
}
#menu td a {
margin: 5px 5px;
padding: 3px 5px 3px 5px;
color:<?=$this->color("menuPrincipal-08")?>;
text-decoration: none;
  display: inline-block;
}
#menu td a:hover {
  /* font-size: 140%; */
}
#menu td a:active {
  color: <?=$this->color("menuPrincipal-09")?>;
}
/* Estamos aqui del menu principal */
#menu td#menuOff {
      background: none repeat scroll 0 0 <?=$this->color("menuPrincipal-10")?>;
 
    color: <?=$this->color("menuPrincipal-11")?>;
}

@media screen and (max-width: 640px) {

#menu_principal { display: none; }
#menu_switch { display: block; }

}

@media screen and (min-width: 680px) {
   #menu_principal { display: block!IMPORTANT; }
}
