.line-block {
  border-left: 2px solid #000;
  padding-left: 5px;
   }

div.line-block {
  font-style: italic ;
  display: block ;
  margin-top: 1em ;
  margin-bottom: 1em;
  }

div.line-block div.line-block {
  margin-top: 0 ;
  margin-bottom: 0 ;
  border: 0;
  margin-left: 1.5em }
