.panel {
margin-bottom: 20px;
}
.panel_titulo a { 
   color:#000;
}
.panel_titulo { 
    color: #1F1F20;
    display: block;
    float: left;
    font-size: 13px;
    margin: 10px 0 10px 6%;
    text-shadow: 0 1px 0 #FFFFFF;
    text-transform: uppercase;
    width: 90%;
}
.panel_titulo a {
    color: #1F1F20 !IMPORTANT;
    font-size: 13px;
    text-shadow: 0 1px 0 #FFFFFF;
    font-weight: bold;
   }

/* subpanel */
.subpanel_visible {
margin-top: 4px;
padding: 2px;
text-align:left;
margin-left: 20px;
}
