/*  ## Lista para idiomas

    <div id="lista_idiomas">
       <ul>
           <li><a>lista 01</a></li>
           <li><a>lista 02</a></li>
           <li><a>lista 03</a></li>
       </ul>
    </div>

*/

#lista_idiomas ul {
   border: 5px solid <?=$this->color("body-11")?>;
   list-style-type: none;
   text-align: center;
}
#lista_idiomas a {
   color: #000;
}
#lista_idiomas li {
   color: <?=$this->color("body-11")?>;
   display: inline;
   text-align: center;
   margin: 0 10px 0 0;
}
.idioma_on {
    border: 1px solid;
    border-radius: 50%;
    font-size: 77%;
    padding: 5px;
}
