.twitter-share-button.twitter-tweet-button.twitter-share-button.twitter-count-none {
    margin-bottom: 10px;
}

.a_tripadvisor {
    position: relative;
    top: -4px;
}

.botones_redes_sociales > div {
    vertical-align: top !important;
}
