/*  ## Menú administrativo

    <div id="mainMenu">
      <ul class="navmenu-h" id="mainMenu1">
         <li>
            <a>Contenidos</a>
            <ul>
               <li class="ma_on"><a href="?e=nuevo" title="Crear nuevo contenido">Nuevo</a></li>
               <li class="ma_on"><a href="../../../../../apuntes/Linux/Edicion_de_texto/vim/plugins/?e=editar_contenido" title="Editar documento actual">Editar</a></li>
               <li class="ma_off"><a title="Traducir documento actual">Traducir</a></li>
            </ul>
         </li>
         <li>
            <a href="#" title="Administrar proyecto">Administración</a>
            <ul>
               <li class="ma_on"><a href="./../../../../../comentarios/listar" title="Listado de comentarios">Comentarios</a></li>
               <li class="ma_on"><a href="/gcm/test" title="Ejecutar tests">Tests</a></li>
               <li class="ma_on"><a href="/gcm/admin/usuarios/" title="Administración de usuarios">Usuarios</a></li>
            </ul>
         </li>
         <li>
            <a href="#" title="Administrar proyecto">Administración</a>
            <ul>
               <li class="ma_on"><a href="./../../../../../comentarios/listar" title="Listado de comentarios">Comentarios</a></li>
               <li class="ma_on"><a href="/gcm/test" title="Ejecutar tests">Tests</a></li>
               <li class="ma_on"><a href="/gcm/admin/usuarios/" title="Administración de usuarios">Usuarios</a></li>
            </ul>
         </li>
         <li>
            <a href="#" title="Administrar proyecto">Administración</a>
            <ul>
               <li class="ma_on"><a href="./../../../../../comentarios/listar" title="Listado de comentarios">Comentarios</a></li>
               <li class="ma_on"><a href="/gcm/test" title="Ejecutar tests">Tests</a></li>
               <li class="ma_on"><a href="/gcm/admin/usuarios/" title="Administración de usuarios">Usuarios</a></li>
            </ul>
         </li>
         <li>
            <a href="#" title="Administrar proyecto">Administración</a>
            <ul>
               <li class="ma_on"><a href="./../../../../../comentarios/listar" title="Listado de comentarios">Comentarios</a></li>
               <li class="ma_on"><a href="/gcm/test" title="Ejecutar tests">Tests</a></li>
               <li class="ma_on"><a href="/gcm/admin/usuarios/" title="Administración de usuarios">Usuarios</a></li>
            </ul>
         </li>
         <li>
            <a href="#" title="Administrar proyecto">Administración</a>
            <ul>
               <li class="ma_on"><a href="./../../../../../comentarios/listar" title="Listado de comentarios">Comentarios</a></li>
               <li class="ma_on"><a href="/gcm/test" title="Ejecutar tests">Tests</a></li>
               <li class="ma_on"><a href="/gcm/admin/usuarios/" title="Administración de usuarios">Usuarios</a></li>
            </ul>
         </li>
      </ul>
      <ul class="navmenu-h" id="mainMenu2">
         <li>
            <a>meduedu</a>
            <ul>
            <li class="ma_on"><a href="/gcm/admin/perfil_usuario" title="Editar información de usuario">Editar perfil</a></li>
            </ul>
         </li>
         <li>
            <a href="./?salir=1" title="Cerrar sessión">Salir</a>
         </li>
      </ul>
    </div>
*/
#mainMenu {
width: 100%;
color: white;
float: left;
background: #222222 url(<?=Router::$dir.$this->ruta('temas','img','header_bg.png')?>) repeat-x;
}
#mainMenu1 {
   float: left;
}
#mainMenu2 {
   float: right;
}
/* Root = Horizontal, Secondary = Vertical */
ul.navmenu-h {
  margin: 0;
  border: 0 none;
  padding: 0;
  list-style: none;
  height: 24px;
}
ul.navmenu-h li {
  margin: 0;
  border: 0 none;
  padding: 0;
  float: left; /*For Gecko*/
  display: inline;
  list-style: none;
  position: relative;
  height: 24px;
}
ul.navmenu-h ul {
  margin: 0;
  border: 0 none;
  padding: 0;
  width: 160px;
  list-style: none;
  display: none;
  position: absolute;
  top: 24px;
  left: 0;
}
ul.navmenu-h ul:after /*From IE 7 lack of compliance*/{
  clear: both;
  display: block;
  font: 1px/0px serif;
  content: ".";
  height: 0;
  visibility: hidden;
}
ul.navmenu-h ul li {
  width: 160px;
  z-index: 100;
  float: left; /*For IE 7 lack of compliance*/
  display: block !important;
  display: inline; /*For IE*/
  background: url("../../../../../gcm/gcm/modulos/temas/img/header_bg.png") repeat-x scroll 0 0 rgb(34, 34, 34) ;

}
/* Root Menu */
ul.navmenu-h a {
  border: 1px solid black;
  padding: 0 6px;
  float: none !important; /*For Opera*/
  float: left; /*For IE*/
  display: block;
  font: bold 10px/22px Verdana, Arial, Helvetica, sans-serif;
  text-decoration: none;
  height: auto !important;
  height: 1%; /*For IE*/
}

/* Botones desactivdos */
ul.navmenu-h .ma_off a {
   color: #585858;
}
/* Root Menu Hover Persistence */
ul.navmenu-h a, ul.navmenu-h a:visited, ul.navmenu-h a:link{
    color: white;
 }
ul.navmenu-h a:hover {
    background: #D1D7E7!IMPORTANT;
    color: black!IMPORTANT;
}

/* 2nd Menu */
ul.navmenu-h li:hover li a,
ul.navmenu-h li.iehover li a {
  float: none;
}
/* 2nd Menu Hover Persistence */
ul.navmenu-h li:hover li a:hover,
ul.navmenu-h li:hover li:hover a,
ul.navmenu-h li.iehover li a:hover,
ul.navmenu-h li.iehover li.iehover a {
}
ul.navmenu-h ul ul,
ul.navmenu-h ul ul ul {
  display: none;
  position: absolute;
  top: 0;
  left: 160px;
}
/* Do Not Move - Must Come Before display:block for Gecko */
ul.navmenu-h li:hover ul ul,
ul.navmenu-h li:hover ul ul ul,
ul.navmenu-h li.iehover ul ul,
ul.navmenu-h li.iehover ul ul ul {
  display: none;
}
ul.navmenu-h li:hover ul,
ul.navmenu-h ul li:hover ul,
ul.navmenu-h ul ul li:hover ul,
ul.navmenu-h li.iehover ul,
ul.navmenu-h ul li.iehover ul,
ul.navmenu-h ul ul li.iehover ul {
  display: block;
}
#mensajes_admin a {
    display: inline;
}
#panelAdmin {
    background: none repeat scroll 0 0 #55798a;
    padding: 10px;
}
