/** Administrador general */
#gcmImgs {
   overflow: auto;
   color: <?=$this->color("4")?>;
   font-weight: bold;
   font-size: smaller;
   text-align: center;
   vertical-align: middle;
}
#gcmImgs img {
   margin: 0;
   text-align: center;
}
#gcmImgs_titulo {
   background: <?=$this->color("15")?>;
   border: 1px solid <?=$this->color("4")?>;
   margin: 5px;
   padding:2px;
   font-weight: bold;
}
#gcmImgs_mensajes {
   display: inline;
   font-size: x-small;
   font-weight: bold;
}
#gcmImgs_botonera {
   color: <?=$this->color("2")?>;
   background: <?=$this->color("4")?>;
   border: 1px solid <?=$this->color("2")?>;
   margin: 5px;
   padding:2px;
   font-size: x-small;
   font-weight: bold;
}
/* Miniaturas */
#gcmImgs_miniaturas { 
   display: block;
   height: 66px;
   overflow: auto;
   padding: 0px;
   margin: 0;
   }
#gcmImgs_miniaturas ul {
   display: block;
   margin: 2px;
   padding:0px;
}
#gcmImgs_miniaturas li {
   margin: 0px;
   padding: 0px;
   float: left;
   overflow: auto;
}
#gcmImgs_miniaturas img {
   height: 56px;
   margin: 1px 1px 1px 3px;
   padding: 0;
}
/* Columna al editar entrada */
.img_editar {
   border: 4px solid threedshadow;
   border-radius: 15px;
   display: inline-block;
   background: none repeat scroll 0 0 threedface;
   padding: 10px;
   margin: 5px;
}
.img_editar img {
    display: block;
    margin: 10px;
}

form#form_img_edit {
   margin: 40px 0;
}
