/*  ## Contenido

    <div id="contenido">
      <h2>Encabezado 2</h2>
      <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin a venenatis nunc. Cras pretium mattis urna, in lobortis turpis consectetur ut. Duis ante lorem, venenatis nec vulputate id, sollicitudin quis arcu. Aliquam malesuada elementum dui, eu iaculis lacus feugiat vel. Fusce est nibh, eleifend nec molestie non, mattis eu metus. Phasellus eu nisl lectus. Sed lorem mauris, posuere et sollicitudin quis, vehicula quis massa. Nam elementum lectus id sem adipiscing quis dignissim diam interdum. In ultricies augue nec elit rhoncus eleifend. Aenean ut neque libero. Maecenas vel dolor nunc, vel interdum erat. Donec non eros dui. Praesent sed lorem eu augue fringilla vehicula. Quisque ipsum ipsum, imperdiet eu iaculis a, fringilla a lacus. Curabitur ac nunc lorem.
      </p>
      <img alt="http://www.lesolivex.com/gcm/apuntes/Linux/Edicion_de_texto/vim/plugins/apuntes/Linux/Edicion_de_texto/vim/plugins/File/es/apuntes/Linux/Edicion_de_texto/vim/plugins/thumbnail/tagbar.png" src="http://www.lesolivex.com/gcm/apuntes/Linux/Edicion_de_texto/vim/plugins/apuntes/Linux/Edicion_de_texto/vim/plugins/File/es/apuntes/Linux/Edicion_de_texto/vim/plugins/thumbnail/tagbar.png">
    </div>
    <ul>
        <li>lista 01</li>
        <li>lista 02</li>
        <li>lista 03</li>
    </ul>
    <ol>
        <li>lista 01</li>
        <li>lista 02</li>
        <li>lista 03</li>
    </ol>
*/
#contenido {
   padding: 0;
}
#contenido > p {
    margin: 10px;
   }

#contenido :focus {
outline: 0;
}
#contenido h2 {
margin: 12px 12px 12px 0;
}

#listar_dir_recur {
font-size: 120%;
}

#listar_dir_recur .detalles_fichero {
font-size: 60%;
}

#contenido img {
margin: 8px;
}

#listar_dir_recur li {
list-style: none;
padding: 3px 0px 5px 7px;
}

#contenido ul, #contenido ol {
   margin-left: 0;
}
