
.paginador {
/** border:1px solid <?=$this->color("botonera-00")?>; */
margin:10px;
padding:10px;
color: <?=$this->color("body-11")?>;
}
.info_botonera{
font-weight:bold;
}
.botonera_paginador {
text-align: right;
float: right;
}
.botonera_paginador a, .botonera_paginador .pag_actual {
/* Esquinas redondeadas */
-moz-border-radius:50%;
-webkit-border-radius:50%;
border: 1px solid <?=$this->color("botonera-00")?>;
padding: 2px;
text-decoration: none;
color: <?=$this->color("body-11")?>;
border: 1px solid <?=$this->color("botonera-00")?>;
}
.botonera_paginador .pag_actual {
}