/*  ## Comentarios

    <div style="label: Añadir comentario;" class="form_comentario">
       <form action="../../../../../apuntes/Linux/Edicion_de_texto/vim/plugins/tagbar,_listado_para_los_tags_creados_con_ctags.html" method="post">
          <label for="usuario">Nombre: </label>
          <input type="text" value="" name="usuario" maxlength="60">
          <label for="mail">*Email: </label>
          <input type="text" value="" name="mail" maxlength="60">
          <label for="texto">Comentario: </label>
          <textarea name="texto" maxlength="500" class="editor_simple"></textarea>
          <input type="submit">
          <br>
          * El email es opcional.
       </form>
    </div>
*/
#caja_ultimos_comentarios {
	font-size: x-small;
	padding: 2px;
}
#autor_comentario {
   color: <?=$this->color("body-11")?>;
   font-weight: bold;
	display: inline;
}
#fecha_comentario {
	display: inline;
}
#titulo_contenido {
	font-weight: bold;
	background: <?=$this->color("comentarios-00")?> ;
	color: black;
	border: dotted  <?=$this->color("comentarios-01")?>;
}
#cuerpo_comentario {
	font-size: smaller;
}
#caja_comentarios {
   padding: 10px;
   margin: 10px;
}
.caja_comentario_ind {
   /* border-bottom: 3px dotted  <?=$this->color("comentarios-02")?>; */
   padding: 5px;
   margin: 5px;
}
.encabezado_comentario {
   border-bottom: 1px solid <?=$this->color("body-11")?>;
}
.encabezado_comentario a, img, a:hover  {
   text-decoration: none;
   border: 0px;
}
.fecha_comentario {
   display: inline;
   float: right;
   margin: 0;
}
.texto_comentario {
   margin: 15px;
}
/* Formulario para añadir comentarios */
.form_comentario {
   width: 100%;
   padding: 0;
   border-top: 1px solid <?=$this->color("comentarios-03")?>;
   border-bottom: 1px solid <?=$this->color("comentarios-04")?>;
   margin: 0;
   margin-bottom: 10px;
   background: <?=$this->color("body-12")?>;
}
.form_comentario form {
   padding: 10px;
   margin: 10px;
}
.form_comentario input, .form_comentario textarea {
   border: 1px solid <?=$this->color("body-18")?>;
   margin: 5px;
   display: block;
   margin-left: 100px;
}
.form_comentario textarea {
   width: 450px;
   height: 200px;
   display: block;
}
#titulo_form_comentarios {
   color: <?=$this->color("comentarios-04")?>;
   margin-left: 10px;
}
.form_comentario label {
   width: 90px;
   float: left;
   text-align: right;
   margin-right: 2px;
}
